@page "/"
@using System.Globalization

<PageTitle>Discount Calculator</PageTitle>

<h1>Welcome to the Discount Calculator!</h1>
<p>This application allows you to input the price of an item and the discount to get the price after discount!</p>

<div>
    <label for="price">Original Price: $</label>
    <input type="number" @bind-value="price" />
</div>
<div>
    <label for="discount">Discount Percentage: %</label>
    <input type="number" @bind-value="discount"  />
</div>
<button @onclick="DiscountCalculator">Calculate</button>
<p>@result</p>

@code {
    private double? price = null;
    private double? discount = null;
    private string result = string.Empty; // Initialize to an empty string

    private void DiscountCalculator()
    {
        if (price == null || discount == null || price <= 0 || discount < 0)
        {
            result = "Please enter valid numbers.";
            return;
        }
        else {
            var discountAmount = price.Value * (discount.Value / 100); var finalPrice = price.Value - discountAmount; 
            result = $"You Save: ${discountAmount.ToString("F2", CultureInfo.InvariantCulture)} | Price after discount: ${finalPrice.ToString("F2", CultureInfo.InvariantCulture)}"; 
        }
            
        
    }
}